@page "/"
<h1>blazor project</h1>


<p>this is my blazor project and about me section</p>
<img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=620&quality=85&auto=format&fit=max&s=21718fb1379918410ea10054db89f665" alt="cat" width="620" height="372">
<SurveyPrompt Title="How is Blazor working for you?" />
