@page "/"
<h1>Alexander van der Meulen</h1>


<p>
    Florida Gulf Coast University
    <br>BS Software Engineering
    <br>Expected graduation: May 2023
    <br>
    <a href="https://github.com/vdmalex/">My GitHub</a>

</p>
<img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=620&quality=85&auto=format&fit=max&s=21718fb1379918410ea10054db89f665" alt="cat" width="620" height="372">

