@page "/ipo"

<h1>IPO</h1>

<p>Input a number </p>

<input @bind="InputString " />

<button class="btn btn-primary" @onclick="DoProcessing">x 2</button>
<button class="btn btn-primary" @onclick="DoProcessing2">% 10</button>


<p>Output: @OutputString </p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private void DoProcessing()

    {

        double num = double.Parse(InputString);

        num = num * 2;

        OutputString = num.ToString();
        InputString = num.ToString();


    }
private void DoProcessing2()

    {

        double num = double.Parse(InputString);

        num = num % 10;

        OutputString = num.ToString();
        InputString = num.ToString();


    }

}